<%
// use "site.posts" to make all articles in one page. (Need not install hexo-generator-archive)
    var title = '';
    if (page.category) title = page.category;
    if (page.tag) title = "#" + page.tag;
    if (page.archive) {
        if (page.year) title = page.year + (page.month ? '/' + page.month : '');
        else title = __('archive_a');
    }
%>

<!-- Main Content -->
<div class="archive content-area">
  <div class="container">
    <h1 class="entry-title"><%- title %></h1>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <!-- Use lodash to classify posts. See https://lodash.com/docs#groupBy
          1. group site.posts by year
          2. sort posts-in-one-year by Month and Day
        -->
        <%
          var groupObj = _.groupBy(site.posts.toArray(), function(p){return p.date.format('YYYY')});
          var groupArr = [];
          for (var year in groupObj){
            var postsInThisYear = groupObj[year];
            var sortedPosts = _.sortBy(postsInThisYear, function(p) { return p.date.format('MMDD') });
            groupArr.push({
              year: year,
              posts: sortedPosts.reverse()
            });
          }
        %>

        <% groupArr.reverse().forEach(function(item) { %>
          <h2 class="year"><%- item.year %></h2>
          <ul class="list">
            <%- partial('_partial/article-archive', {posts: item.posts}) %>
          </ul>
        <% }) %>
      </div>
    </div>
  </div>
</div>
