<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-1">
      <% page.posts.each(function(item){ %>
        <%- partial('_partial/article-index', {item: item}) %>
      <% }); %>

      <%- partial('_partial/pagination') %>
    </div>
  </div>
</div>