<%
// tag 与 archive 基本一致,区别是:
// 1. archive 使用的 site.posts, tag使用的是page.posts；
// 2. tag 有分页。 (如果使用page.posts, hexo 默认使用config里的[per_page]来配置archive和tag分页)
    var title = '';
    if (page.category) title = page.category;
    if (page.tag) title = "#" + page.tag;
    if (page.archive) {
        if (page.year) title = page.year + (page.month ? '/' + page.month : '');
        else title = __('archive_a');
    }
%>

<!-- Main Content -->
<div class="archive content-area">
  <div class="container">
    <h1 class="entry-title"><%- title %></h1>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <!-- Use lodash to classify posts. See https://lodash.com/docs#groupBy -->
        <% var groupObj = _.groupBy(page.posts.toArray(), function(p){return -p.date.format('YYYY')}) %>
        <% for (var year in groupObj){ %>
          <h2 class="year"><%- -year %></h2>
          <ul class="list">
            <%- partial('_partial/article-archive', {posts: groupObj[year]}) %>
          </ul>
        <% } %>
      </div>
    </div>
  </div>
  <%- partial('_partial/pagination') %>
</div>
