@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'),
    url(http://7xrcp8.com1.z0.glb.clouddn.com/Source%20Code%20Pro.woff)
    format('woff');
}
