.site-header {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #dcdcdc;
  z-index: 30;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 50px;
  padding-right: 50px;
  height: 70px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  .button-wrap {
    display: none;
    float: right;
    padding-top: $nav-padding-top;
  }
  .menu-toggle {
    width: 20px;
    height: 20px;
    background: url("../images/menu.svg") center no-repeat;
    text-indent: -99999px;
    overflow: hidden;
    border: none;
    box-shadow: none;
    outline: none;
    opacity: 0.25;
  }
}
.header-inside {
  display: table;
  height: 100%;
  width: 100%;
}
.logo {
  display: table-cell;
  vertical-align: middle;
  a {
    display: inline-block;
    img {
      display: block;
      height: $header-height - 10px;
    }
  }
}
.navbar {
  float: right;
  padding-top: $nav-padding-top;
  ul {
    &:after {
      content: '';
      display: block;
      clear: both;
      height: 0;
      visibility: hidden;
    }
    li {
      float: left;
      margin-left: 20px;
      a {
        text-decoration: none;
        transition: opacity 0.3s ease;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}
