// colors
$color-title: #000;
$color-text: #3a3a3a;
$grey-border: #dcdcdc;
$table-border-color: #ddd;
$table-row-odd-bg-color: #f9f9f9;
$table-row-hover-bg-color: #f5f5f5;
$table-cell-border-right-color: #eee;

// lenght
$header-height: 70px;
$nav-padding-top: 25px;
$container-width: 600px;
$inside-wrapper-width: 920px;
$icon-size: 20px;
$table-width: 100%;
$table-font-size: 14px;
$table-cell-padding: 8px;
