<!-- Navigation -->
<nav class="navbar">
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse">
    <ul class="navbar-nav">
      <% for (var i in theme.nav){ %>
        <li>
          <a href="<%- theme.nav[i].url ? url_for(theme.nav[i].url) : url_for(theme.nav[i]) %>">
            <% if (theme.nav[i].icon) { %>
              <i class="fa fa-<%= theme.nav[i].icon %> fa-stack-2x"></i>
            <% } else { %>
              <%= i %>
            <% } %>
          </a>
        </li>
      <% } %>
    </ul>
  </div>
  <!-- /.navbar-collapse -->
</nav>